.logo {
	color: var(--black-color);
	font-size: var(--small-font-size);
	font-weight: bold;
	margin-bottom: 3.85rem;

	@media (max-width: 1024px) {
		margin-bottom: 0rem;
	}

	@media (max-width: 425px) {
		color: var(--grey-color);
	}
}

.nav {
	display: flex;
	flex-direction: column;
	gap: 1.2rem;

	&__link {
		font-weight: bold;
		font-size: var(--large-font-size);
		color: var(--grey-color);
		width: fit-content;
	}

	&__active {
		color: var(--black-color) !important;
	}

	@media (max-width: 1024px) {
		flex-direction: row;
		gap: 3rem;
	}

	@media (max-width: 425px) {
		flex-direction: row;
		gap: 1.5rem;
	}
}

.infoContainer {
	display: flex;
	flex-direction: column;

	@media(max-width: 425px) {
		display: none;
	}
}
