:root {
	font-size: var(--normal-font-size);
	font-family: "Arial";
	color: var(--black-color);
}

a,
a:link,
a:visited {
	color: var(--grey-color);
	transition: ease-in 0.2s;
}

a:hover {
	color: var(--black-color);
}


