.taskList {
    display: grid;
    grid-template-columns: 64rem auto;
    height: 100%;

    &__contentPanel{

    }

    &__addPanel{
        padding: 1rem;
        display: grid;
        grid-template-rows: 1fr;
        height: 100%;
        border-left: 2px solid var(--light-grey-color);
    }
}
