.taskDetailes {
	padding: 2rem 4rem;
	height: 88vh;

	@media (max-width: 1024px) {
		height: 80vh;
	}

	@media (max-width: 768px) {
		padding: 2rem 2rem;
	}

	@media (max-width: 425px) {
		padding: 2rem 1rem;
		height: 80vh;
	}

	&__topContainer {
		display: flex;
		gap: 0.5rem;
		margin-bottom: 2rem;

		span {
			color: var(--light-grey-color);
		}
	}

	&__button {
		color: var(--grey-color);
		transition: ease 0.2s;

		&:hover {
			color: var(--black-color);
		}
	}

	&__active {
		color: var(--black-color);
	}

	&__createdAt {
		font-size: var(--small-font-size);
		span {
			color: var(--grey-color);
		}
		margin-bottom: 0.5rem;
	}
}
