.addFormPanel {
    display: flex;
    justify-content: center;
    gap: 2rem;

    transition: all 0.15s ease-in;
    &__container {
        position: relative;
        height: 3rem;
        margin-bottom: 2rem;
        user-select: none;

        &:hover {
            height: fit-content;

            .addFormPanel__elementsForm {
                transform: scaleY(1);
                opacity: 1;
            }
        }

        .addFormPanel__elementsForm {
            transform: scaleY(0);
            opacity: 0;
        }
    }

    &__formElements {
        align-items: center;
        padding-top: 2rem ;
        
        transition: 0.15s ease;

        &::first-letter {
            text-transform: capitalize;
        }
    }

    &__elementsForm {
        padding-top: 2rem;
        z-index: 10000;
        display: flex;
        justify-content: left;
        overflow: auto;
        
        transition: 0.15s ease-in;
        transform-origin: top;
    }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; // Yeah, yeah everybody write about it
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}


.element::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar {
  width: 0;
}