.addFormPanel {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 2rem;

    &__formElements {
        align-items: center;

        transition: 0.15s ease;

        &::first-letter {
            text-transform: capitalize;
        }

    }

    &__elementsForm {
        display: flex;
        justify-content: left;
        overflow: auto;
    }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; // Yeah, yeah everybody write about it
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}


.element::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar {
  width: 0;
}