.title {
	text-align: center;
	font-size: var(--normal-font-size);
	font-weight: bold;
}

.description {
	font-size: var(--small-font-size);
	font-weight: normal;
}

.additionalContainer {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.hovered {
	position: relative;
	height: 0;
	transform: scaleY(0);
	transition: all 0.25s;
}

.cardContent {
	&:hover {
		.hovered {
			position: relative;
			height: fit-content;
			transform: scaleY(1);
			transform-origin: top;
		}
	}
}
