.form {
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    height: min-content;
    flex-wrap: wrap;
    align-items: start;
    flex-shrink: 0;

    label {
        display: flex;
        font-weight: bold;
        width: fit-content;
        gap: 0.5rem
    }

    input, textarea {
        text-align: center;

        &::placeholder {
            transition: 0.2s ease;
        }

        &:focus {
            border-bottom: 0.1rem solid var(--black-color);

            &::placeholder {
                opacity: 0;
            }
        }
    }

    &__labelInput {
        width: 7rem;
    }

    &__lenghtInput {
        width: 2.5rem;
    }

    &__variantsInput {
        width: 100%;
        text-align: center;
        outline: none;
        background: none;
        overflow: hidden;
        resize: unset;
        line-height: 1;
        min-height: 0.5em;


        &:focus {
            border-bottom: 0.1rem solid var(--black-color);
        }
    }
    
    button, span {
        font-weight: bold;
        transition: 0.15s ease-out;
    }


    &__addElement {
        background-color: var(--black-color);
        color: white;
        padding: 0.5rem 4rem;
        border-radius: 0.25rem;

        &:hover{
            transform: translate(0, -0.2rem);    
        }
        
    }

    &__isolatedDiv {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 0.5rem;
    }
}

.unactive {
    opacity: 0.5;
}